# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
*.Rcheck

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# comparisons document
xtable_vs_pixiedust.html
LaTeX_Table_Tests.pdf

# Reverse Dependency check
/revdep/*